[submodule "extlibs/fmt"]
	path = extlibs/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libs/Graph"]
	path = libs/Graph
	url = git@github.com:baudouinroullier/Graph.git
[submodule "libs/GeometricAlgebra"]
	path = libs/GeometricAlgebra
	url = git@github.com:baudouinroullier/GeometricAlgebra.git
[submodule "libs/Interact"]
	path = libs/Interact
	url = git@github.com:baudouinroullier/Interact.git
[submodule "extlibs/imgui-sfml"]
	path = extlibs/imgui-sfml
	url = https://github.com/SFML/imgui-sfml.git
[submodule "extlibs/SFML"]
	path = extlibs/SFML
	url = https://github.com/SFML/SFML.git
